body,
button,
input,
select,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-normal);
}

.d-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.c-pointer {
  cursor: pointer;
}

.error-message {
  margin-top: 5px;
  color: var(--color-light-red);
  font-size: var(--font-size-sm);
  text-transform: capitalize;
}
