.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 18px;
}

.number-record {
  background-color: var(--color-white);
  border: none;
  border-bottom: 1px solid var(--color-grey-dim);
  width: 40px;
  color: var(--color-grey-dim);
  font-size: var(--font-size-md);
}

.btn-pagination {
  display: flex;
  gap: 35px;
}
