.btn {
  padding: 14px 18px;
  gap: 12px;
  border-radius: 10px;
  font-size: var(--font-size-2sm);
  font-family: var(--font-family-secondary);
}

.btn-primary {
  width: 100%;
  background-color: var(--color-purple);
  border: 1.4px solid var(--color-purple);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-white);
  border: 1.4px solid var(--color-grey-light);
  color: var(--color-grey-dark);
}

.btn-default {
  background-color: var(--color-white);
  padding: 0;
  gap: 0;
  border-radius: none;
}

.btn-danger {
  background-color: var(--color-red);
  padding: 16px 18px;
  width: 102px;
}

.btn-danger.btn-delete-desktop {
  display: none !important;
}

.filter-active {
  background-color: var(--color-white-seashell);
  color: var(--color-purple);
  border: 1.4px solid var(--color-purple);
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

@media (min-width: 768px) {
  .btn-primary {
    width: 142px;
    padding: 16px 13px;
  }

  .btn-secondary {
    width: 127px;
    padding: 16px 18px;
  }
}
