.input-item {
  border-radius: 12px;
  border: 1px solid var(--color-white-seashell);
  width: 100%;
  text-indent: 15px;
  padding: 16px 0;
}

.input-item::placeholder {
  color: var(--color-purple);
}
