.filter-mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.sort-option {
  border: none;
  width: 75px;
  padding: 10px;
  color: var(--color-grey-liver);
  font-size: var(--font-size-2sm);
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url('../../../assets/icons/sort-icon.svg') no-repeat right center;
  background-size: 20px 20px;
  margin-right: 20px;
  text-transform: capitalize;
}

.select-item:checked {
  background-color: var(--color-white-seashell);
  color: var(--color-purple);
}

@media (min-width: 768px) {
  .filter-mobile {
    display: none;
  }
}
