.card-header {
  flex-direction: row-reverse;
}

.card-list {
  margin: 8px auto;
  flex-direction: column;
  background-color: var(--color-white);
}

.card-heading {
  padding: 14px 20px;
  border-bottom: 1px solid var(--color-grey-light);
}

.card-name {
  gap: 12px;
}

.card-info {
  padding: 12px 20px;
}

.card-action {
  justify-content: end;
  padding: 8px 20px;
  gap: 12px;
}

.card-header,
.card-heading,
.card-info {
  align-items: center;
  justify-content: space-between;
}

.card-empty {
  margin-top: 8px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .card-user {
    display: none;
  }
}
