:root {
  /* color */
  --primary-color: #5d50c6;
  --secondary-color: #f85e9f;
  --dark-color: #222831;
  --warning-color: #ff5722;
  --schedule-color: #facd49;
  --white-color: #fff;
  --transparent-color: #fff0;
  --light-color: #eee;
  --text-default-color: #19182580;
  --text-highlight-color: #191825;
  --footer-link-color: #191825bf;
  --button-secondary-border-color: #d9d9d9;
  --primary-border-color: #1918251a;
  --dot-color: #1918250d;
  --subscribe-color: #facd490d;

  /* font size */
  --sm-font: 18px;
  --md-font: 23px;
  --lg-font: 44px;
  --name-md-font: 28px;
  --travel-number-font: 35px;
  --subscribe-sub-title-font: 55px;

  /* line height */
  --default-line-height: 160%;
  --heading-line-height: 120%;

  /* border radius */
  --button-border-radius: 100px;
  --icon-border-radius: 32px;

  /* font weight */
  --default-font-weight: 700;
  --text-font-weight: 400;

  /* box shadow */
  --button-explore-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.07),
    0px 34px 75px 0px rgba(0, 0, 0, 0.07),
    0px 137px 137px 0px rgba(0, 0, 0, 0.06),
    0px 308px 185px 0px rgba(0, 0, 0, 0.04),
    0px 548px 219px 0px rgba(0, 0, 0, 0.01),
    0px 856px 240px 0px rgba(0, 0, 0, 0);
  --button-start-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
  --icon-box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09),
    0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01),
    0px 120px 34px 0px rgba(0, 0, 0, 0);
  --button-top-places-box-shadow: 0px 43px 26px 0px rgba(0, 0, 0, 0.05),
    0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
  --service-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 41px 89px 0px rgba(0, 0, 0, 0.1);
  --card-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 32px 71px 0px rgba(0, 0, 0, 0.05),
    0px 128px 128px 0px rgba(0, 0, 0, 0.04),
    0px 288px 173px 0px rgba(0, 0, 0, 0.03),
    0px 513px 205px 0px rgba(0, 0, 0, 0.01),
    0px 801px 224px 0px rgba(0, 0, 0, 0);
}
