:root {
  /* color */
  --color-red-dark: #0a0a0a;
  --color-white-smoke: #f5f5f5;
  --color-blue-berry: #4a85f6;
  --color-gray-dark: #404040;
  --color-blue-dark: #222b45;
  --color-blue-rock: #8f9bb3;
  --color-white: #fff;
  --color-blue-alice: #eff4fa;
  --color-blue-dodger: #0095ff;
  --color-gray-dim: #717171;
  --color-gray-explosive: #c4c4c4;
  --color-blue-dark-byzantine: #18203a;
  --color-primary: var(--color-blue-dark);
  --color-secondary: var(--color-white);
  --color-blue-gray: #353c48;
  --color-gray-light-blue: #ced4da;
  --color-red-light: #ff9494;
  --color-green: #355e3b;
  --color-black-gradient: #000000b3;

  /* font size */
  --font-size-3xs: 11px;
  --font-size-2xs: 12px;
  --font-size-xs: 13px;
  --font-size-sm: 15px;
  --font-size-md: 16px;
  --font-size-2md: 17px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;

  /* line height */
  --line-height-normal: normal;
  --line-height-xs: 15px;
  --line-height-sm: 16px;
  --line-height-md: 24px;
  --line-height-lg: 30px;

  /* font weight */
  --font-weight-defaut: 400;
  --font-weight-semi-bold: 600;

  /* border radius */
  --border-radius-xs: 8px;
  --border-radius-sm: 16px;
}
