@media (min-width: 768px) {
  .row-record {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 12px;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .row-record:last-child {
    border-bottom-right-radius: 10px;
  }

  .row-record:first-child {
    border-bottom-left-radius: 10px;
  }

  .selected-row {
    background-color: var(--color-grey-blue);
  }

  .td-sm {
    width: 10%;
  }

  .td-md {
    width: 15%;
  }

  .td-xl {
    width: 20%;
  }

  .td-lg {
    width: 40%;
  }
}
