.table-header {
  display: none;
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .table-header {
    display: flex;
    border-bottom: 1px solid var(--color-grey-light);
  }

  .header-mobile {
    display: none;
  }

  .header-title {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
  }

  .th-sm {
    width: 10%;
  }

  .th-md {
    width: 15%;
  }

  .th-xl {
    width: 20%;
  }

  .th-lg {
    width: 40%;
  }
}
