.main-container {
  background-color: var(--color-grey-blue);
  padding: 34px 20px;
  height: 100vh;
}

.main-header {
  flex-direction: column;
  gap: 22px;
}

.main-tools {
  flex-direction: column;
  gap: 22px;
}

.main-tool-group {
  flex-direction: column-reverse;
  gap: 22px;
}

.main-tool-group:last-child {
  flex-direction: column-reverse;
}

.main-content {
  margin-top: 18px;
}

.display-button {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    background-color: var(--color-white);
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    gap: 22px;
  }

  .main-tools {
    flex-direction: row;
    align-items: end;
  }

  .main-tool-group {
    flex-direction: row;
    align-items: end;
  }

  .display-button {
    display: flex;
  }
}
