.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  width: 100%;
  padding: 40px 20px;
  background-color: var(--color-white-smoke);
  overflow: auto;
}

.dashboard-content::-webkit-scrollbar {
  width: 12px;
}

.user-help {
  margin-top: 16px;
}

.title-list {
  font-family: OpenSansBold, sans-serif;
  color: var(--color-blue-berry);
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-normal);
}

.user-search {
  display: flex;
  background-color: var(--color-secondary);
  padding: 12px 20px;
  width: 808px;
  border-radius: var(--border-radius-sm);
}

.input-search {
  width: 100%;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.btn-add {
  padding: 20px;
}

.add-icon {
  padding-left: 10px;
}

.list-content {
  margin-top: 25px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-secondary);
}

.text-title-list {
  padding: 20px;
}

.table-user {
  border-collapse: collapse;
  width: 100%;
}

.cell-action {
  display: flex;
  align-items: center;
  gap: 20px;
}

.female {
  background-color: var(--color-blue-dodger);
  color: var(--color-secondary);
}

.male {
  background-color: var(--color-blue-alice);
  color: var(--color-blue-rock);
}

.gender-tag {
  padding: 7px 0;
  border-radius: var(--border-radius-xs);
  text-align: center;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
}

.dashboard .table-cell-username {
  padding: 20px 58px;
}

.dashboard .number-record,
.dashboard .btn-delete,
.dashboard .btn-edit,
.dashboard .btn-next,
.dashboard .btn-previous,
.dashboard .search-icon {
  cursor: pointer;
}

.dashboard .btn-delete,
.dashboard .btn-edit,
.dashboard .btn-next,
.dashboard .btn-previous {
  background-color: transparent;
  padding: 10px;
}

.btn-enable {
  filter: invert(49%) sepia(0%) saturate(0%) hue-rotate(154deg) brightness(89%)
    contrast(93%);
}

.btn-disable {
  filter: invert(88%) sepia(0%) saturate(285%) hue-rotate(54deg)
    brightness(136%) contrast(102%);
  cursor: default;
}

.table-empty {
  flex-direction: column;
  padding: 20px;
  display: none;
}

.open-empty {
  display: flex;
}
