.status {
  gap: 7px;
  padding: 4px 8px;
  width: 54px;
  border-radius: 54px;
  align-items: center;
  font-size: var(--font-size-sm);
}

.status-active {
  background-color: var(--color-green-light);
  color: var(--color-green);
}

.status-offline {
  background-color: var(--color-grey-light);
  color: var(--color-grey);
}

.status-wait {
  background-color: var(--color-orange-light);
  color: var(--color-orange);
}

.dot-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.dot-icon-active {
  background-color: var(--color-green);
}

.dot-icon-offline {
  background-color: var(--color-grey);
}

.dot-icon-wait {
  background-color: var(--color-orange);
}
