.checkbox {
  display: flex;
  align-items: center;
  margin: 10px;
}

.checkbox-item {
  appearance: none;
  width: 20px;
  height: 20px;
  border: solid var(--color-blue-dark-byzantine);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.checkbox-item:checked {
  background-color: var(--color-blue-dark-byzantine);
}

.checkbox-item:checked::after {
  content: '\2714';
  position: absolute;
  bottom: 0;
  right: 10%;
  color: white;
}
