.form-content {
  margin-top: 48px;
}

.form-input {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-gap {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.form-column {
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-item {
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--color-blue-alice);
  width: 100%;
  text-indent: 15px;
  padding: 10px 0;
}

.form-item::placeholder {
  color: var(--color-blue-dark);
}

.select-option:hover {
  border-color: var(--color-gray-dark);
}

.select-option {
  border: none;
  width: 100%;
  color: var(--color-blue-dark);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--color-blue-alice);
  padding: 10px 15px;
  cursor: pointer;
}

.table-permission {
  border-collapse: collapse;
  margin-top: 40px;
  width: 100%;
}
