.select-sort {
  position: relative;
  display: inline-block;
}

.sort-option {
  padding: 16px 20px;
  border: 1px solid var(--color-white-smoke);
  border-radius: var(--border-radius-xs);
  width: 100%;
  color: var(--color-gray-dark);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-sm);
  background-color: var(--color-white-smoke);
  cursor: pointer;
}

.select-item:checked {
  background-color: var(--color-gray-light-blue);
  color: var(--color-blue-gray);
}
