.snack-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 12px;
  position: fixed;
  right: 12px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snack-bar.open {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

.snack-bar-success {
  background-color: var(--color-green);
}

.snack-bar-error {
  background-color: var(--color-red-light);
}

.snack-bar-close {
  height: 20px;
  width: 23px;
  background: transparent;
  font-size: 24px;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  color: var(--color-secondary);
}

.snack-bar-message {
  font-size: var(--xs-font-size);
  color: var(--color-secondary);
  font-weight: var(--text-font-weight);
}
