.text-title {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-sm);
  color: var(--color-primary);
}

.text-field {
  color: var(--color-primary);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
}

.text-xs {
  color: var(--color-blue-dark);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-sm);
}

.text-2xs {
  color: var(--color-blue-rock);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-sm);
}

.text-cell {
  color: var(--color-blue-dark);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-xs);
}
