.confirm-body {
  margin-top: 20px;
}

.confirm-content {
  min-width: 280px;

  padding: 0 20px;
}

.confirm-footer {
  gap: 12px;
  margin-top: 20px;
  display: flex;
  padding-top: 16px;
  border-top: 1px solid var(--color-primary);
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .confirm-content {
    width: 600px;
  }
}
