:root {
  /* color */
  --color-white: #fff;
  --color-purple: #7839cd;
  --color-green: #409261;
  --color-green-light: #e9ffef;
  --color-orange: #d98634;
  --color-orange-light: #fff2dd;
  --color-grey: #3f3748;
  --color-grey-light: #e4e4e4;
  --color-grey-blue: #f9fafc;
  --color-black: #1b2128;
  --color-grey-dark: #959595;
  --color-grey-dim: #717171;
  --color-grey-liver: #534d59;
  --color-white-seashell: #f4eefb;
  --color-light-red: #ff9494;
  --color-red: #e13838;

  /* font size */
  --font-size-xl: 24px;
  --font-size-md: 16px;
  --font-size-2sm: 14px;
  --font-size-sm: 12px;

  /* line-height */
  --line-height-normal: normal;

  /* font family */
  --font-family-primary: 'Inter';
  --font-family-secondary: 'InterSemiBold';
}
