/* typography rules */

body,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: CircularStd;
  font-weight: var(--default-font-weight);
  line-height: 120%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}

.box-content-padding {
  padding: 32px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
