body,
button,
input,
select,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: OpenSans, sans-serif;
  font-weight: var(--font-weight-defaut);
  line-height: var(--line-height-sm);
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
